button {

    margin-right:3rem ; 
}

mat-button-toggle{
    margin-right:3rem;  
}

mat-icon {
    margin-left: 1rem ;  
    margin-right: 1rem ; 
}

div {
    margin: 3rem ; 
} 

table {
    width: 100%;
  }

